
<div class="container" style="text-align: center; width: 75%;">
	<h2>About Rachel's 8Bit Reviews<small><br/>This Ruby on Rails application was created by Rachel Prisock for the final project of her Back End Web Development Course at General Assembly!</small></h2>
	<br/>
</div>
