<h1> Add a new comment for <%= @game.name %> </h1>

<ul>
	<% if flash[:error] %>
		<% flash[:error].each do |error| %>
			<li>
				<%= error %>
			</li>
		<% end %>
	<% end %>
</ul>

<%= render 'form' %>

